<h1 class="text-center">Hello, <%= current_user.name %>! - <%= current_user.role.capitalize %></h1>

<% if current_user.driver? %>
<%= render partial: 'shared/driver_dashboard' %>
<% else %>
<%= render partial: 'shared/rider_dashboard' %>
<% end %>

<%= render partial: 'rides/completed_rides' %>
