<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>Completed Rides</h2>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Rider</th>
        <th>Driver</th>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Requested Time</th>
        <th>Accepted Time</th>
        <th>Pickedup Time</th>
        <th>Completed Time</th>
        <th>Ride Cost</th>
      </tr>
      <% completed_rides.each do |ride| %>
          <tr>
            <td><%= ride.ride_rider.name %></td>
            <td><%= ride.ride_driver.name %></td>
            <td><%= ride.pickup_location %></td>
            <td><%= ride.dropoff_location %></td>
            <td class="text-center"><%= time_tag ride.requested_time, :format => '%B %d, %Y %l:%M %p' %></td>
            <td class="text-center"><%= time_tag ride.accepted_time, :format => '%B %d, %Y %l:%M %p' %></td>
            <td class="text-center"><%= time_tag ride.pickup_time, :format => '%B %d, %Y %l:%M %p' %></td>
            <td class="text-center"><%= time_tag ride.dropoff_time, :format => '%B %d, %Y %l:%M %p' %></td>
            <td><%= number_to_currency(ride.cost, precision: 2) %></td>
          </tr>
      <% end %>
    </table>
  </div>

</div>
