<div class="col-md-4">
  <h2>Ride Status:</h2>

  <p><%= ride.status.humanize %></p>

  <h3>Pickup Location:</h3>

  <p><%= ride.pickup_location %></p>

  <h3>Destination:</h3>

  <p><%= ride.dropoff_location %></p>

  </div>

  <% if ride.accepted? || ride.picked_up? %>
<div class="col-md-4">
      <h3>Trip Info</h3>
      <p><strong>Distance:</strong> <%= ride.distance %> miles</p>

      <p><strong>ETA:</strong> <%= ride.drive_time %> minutes</p>
  </div>
    <div class="col-md-4">
      <h3>Driver Info</h3>

      <p><strong>Name:</strong> <%= ride.ride_driver.name %> </p>

      <p><strong>Car Info:</strong> <%= ride.ride_driver.car_make %> <%= ride.ride_driver.car_model %></p>
    </div>
  <% end %>
</div>
