<div class="col-md-4 col-md-offset-1">
  <h2>Ride Status:</h2>

  <p><%= ride.status.capitalize %></p>

  <h3>Pickup Location:</h3>

  <p><%= ride.pickup_location %></p>

  <h3>Destination:</h3>

  <p><%= ride.dropoff_location %></p>

  <% if ride.accepted? || ride.picked_up? %>
      <h3>Driver Info</h3>

      <p><strong>Name:</strong> <%= ride.ride_driver.name %> </p>

      <p><strong>Car Info:</strong> <%= ride.ride_driver.car_make %> <%= ride.ride_driver.car_model %></p>
  <% end %>
</div>
